<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <title><%= title %></title>
  <link href="/main.css" rel="stylesheet" type="text/css" />
  <link rel="icon" type="image/png" href="https://firebasestorage.googleapis.com/v0/b/oauth2-c28ca.appspot.com/o/github.png?alt=media&token=9c46ffa5-2f2f-4381-94aa-2e4f1f2cefb3">
</head>
